/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  overflow-y: scroll; /* Removes content reposition when scrollbar appears */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("assets/background.jpg"); */
  background-color: #1c1c1c;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: auto;
  font-family: Roboto;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.project_thumbnail {
  border-radius: 10px; /* Rounded edges */
  width: 100%;
}

.project_title {
  font-size: 10px;
  font-size: 2vmin; /* Scalable font size */
  padding-bottom: 0px;
  font-weight: 700;
}

.project_tags {
  font-size: 6px;
  font-size: 1vmin; /* Scalable font size */
}

.project_details {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 400px;
  padding-left: 40px;
  padding-right: 40px;
  width: 400px;
  height: auto;
}

/*
 ██████   █████  ██      ██      ███████ ██████  ██    ██ 
██       ██   ██ ██      ██      ██      ██   ██  ██  ██  
██   ███ ███████ ██      ██      █████   ██████    ████   
██    ██ ██   ██ ██      ██      ██      ██   ██    ██    
 ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██    
*/

.tagbar {
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 10px;
}

/* Style the buttons */
.tag {
  font-size: 2vmin; /* Scalable font size */
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
}

.row {
  margin: 0px 0px;
  max-width: 1000px;
  margin: auto;
}

/* Gallery column padding */
.row,
.row > .column {
  padding: 3px;
}

/* Create three equal columns */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  border-radius: 10px; /* Rounded edges */
  background-color: #fff;
  padding: 3%;
  box-shadow: 5px 8px 10px #969696;
}

.content:hover {
  background-color: #ddd;
}

.content:active {
  background-color: rgb(185, 185, 185);
  box-shadow: 0px 0px 0px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Add a grey background color on mouse-over */
.tag:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.tag.active {
  background-color: #666;
  color: white;
}

/*
██       ██████   █████  ██████  ███████ ██████  
██      ██    ██ ██   ██ ██   ██ ██      ██   ██ 
██      ██    ██ ███████ ██   ██ █████   ██████  
██      ██    ██ ██   ██ ██   ██ ██      ██   ██ 
███████  ██████  ██   ██ ██████  ███████ ██   ██ 
*/

.hide_the_body {
  overflow: hidden;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

/*
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████ 
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8%; /* Location of the box */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
}

.modal_project_picture {
  max-width: 100%;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 15px;
  border: 1px solid #888;
  width: 90%;
  max-width: 900px;
  border-radius: 10px; /* Rounded edges */
}

/* The Close Button */
.close {
  color: #ff3232;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_project_title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 35px;
}

.modal_project_video {
  padding-left: 5%;
  padding-right: 5%;
}

.modal_project_paragraph {
  font-size: 16px;
  font-weight: 400;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
