/* Grid settings for gallery */
.col-12, .col-sm-12, .col-md-6, .col-lg-4, .col-xl-3, .col-xxl-2 {
    padding: 15px;
}

/* Card settings */
.card {
    position: relative;
    width: 100%;
    padding-top: 177.78%; /* For 9:16 aspect ratio */
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.5s;
}

.card .card-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    object-fit: cover
}

.card .card-img-back {
    transform: rotateY(180deg);
}

.card:hover {
    /* Change the cursor to a hand pointer when hovering over the card */
    cursor: pointer;
}
